<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="{% static 'js/bootstrap.min.js'%}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Chume's bookstore</title>
</head>

<body>
	{% block content %}
	{% endblock %}
	<div class="sidenav">
	  <a href="{% url 'new_releases' %}">Home</a>
	  <a href="{% url 'discover' %}">Discover</a>
	  <a href="{% url 'about' %}">About</a>
	  <a href="{% url 'contact' %}">Contact</a>
	  <a href="{% url 'cart' %}">Cart</a>
	</div>

	<div class="main">

		<div class="header">
		  <img src="{% static 'img/chumes2.png'%}">
		</div>
		
		<div id="tfheader">
			<form id="tfnewsearch" method="POST" action="{% url 'search'%}">
				{% csrf_token %}
				<input type="text" name="search" class="tftextinput" size="21" maxlength="120"><input type="submit" class="tfbutton">
			</form>
			<div class="tfclear"></div>
		</div>
		
		<div class="topnav">
		  <a href="{% url 'new_releases' %}">New Releases</a>
		  <a href="{% url 'todays_deals' %}">Today's Deals</a>
		  <a href="{% url 'genres' %}">Browse By Genre</a>
		  <a href="{% url 'categories' %}">Browse By Category</a>
		</div>

		<div class="smolheading">
			<h3>Science Fiction</h3>
		</div>
		<div class="row">
		    {% for i in data %}
			<div class="column_img1">
				<img src="{{ i.cover }}" alt="{{ i.title }}" width="200" height="330" align="middle"/>
			</div>
			<div class="column_text1">
			    <p>ISBN: <strong>{{ i.isbn }}</strong><p>
			  
				<p>Title: <strong>{{ i.title }}</strong><p>
				
				<p>Author: <strong>{{ i.a_name }}</strong><p>

				<p>Genre: <strong>{{ i.genre }}</strong><p>

				<p>Category: <strong>{{ i.category }}</strong><p>
				
				<p>Format: <strong>{{ i.format }}</strong><p>
				
				<a href="{% url 'book' bookname=i.isbn %}"><p>Show more</p></a>
			</div> 
			{% endfor %}
		</div>
	</div>
</body>

</html>