<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="{% static 'js/bootstrap.min.js'%}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Chume's bookstore</title>
</head>

<body>
	{% block content %}
	{% endblock %}
	<div class="sidenav">
	  <a href="{% url 'new_releases' %}">Home</a>
	  <a href="{% url 'discover' %}">Discover</a>
	  <a href="{% url 'about' %}">About</a>
	  <a href="{% url 'contact' %}">Contact</a>
	</div>

	<div class="main">

		<div class="header">
		  <img src="{% static 'img/logo2.png'%}">
		</div>
		
		<div id="tfheader">
			<form id="tfnewsearch" method="get" action="http://www.google.com">
					<input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
			</form>
		<div class="tfclear"></div>
		</div>
		
		<div class="topnav">
		  <a href="{% url 'new_releases' %}">New Releases</a>
		  <a href="{% url 'todays_deals' %}">Today's Deals</a>
		  <a href="{% url 'genres' %}">Browse By Genre</a>
		  <a href="{% url 'categories' %}">Browse By Category</a>
		</div>

		<div class="smolheading">
			<h3>Contemporary</h3>
		</div>
		<div class="row">
		  <div class="column_img1">
			<img src="{% static 'img/warcross.jpg'%}" alt="Warcross" width="200" height="330" align="middle"/>
		  </div>
		  <div class="column_text1">
			<p>Title: <strong>Warcross</strong><p>
			
			<p>Author: <strong>Marie Lu</strong><p>

			<p>Genre: <strong>Science Fiction</strong><p>

			<p>Category: <strong>Young Adult</strong><p>

			<a href="{% url 'warcross' %}"><p>show more</p></a>
		  </div>
		 </div>
		 <div class="row">
		  <div class="column_img1">
			<img src="{% static 'img/I was born for this.jpg'%}" alt="I Was Born For This" width="200" height="330" align="middle"/>
		  </div>
		  <div class="column_text1">
			<p>Title: <strong>I Was Born For This</strong><p>
			
			<p>Author: <strong>Alice Osman</strong><p>

			<p>Genre: <strong>Contemporary</strong><p>

			<p>Category: <strong>Young Adult</strong><p>

			<a href="#"><p>show more</p></a>
		  </div>
		 </div>
		 <div class="row">	  
			<div class="column_img1">
				<img src="{% static 'img/warcross.jpg'%}" alt="Warcross" width="200" height="330" align="middle"/>
			</div>
			<div class="column_text1">
				<p>Title: <strong>Warcross</strong><p>
			
				<p>Author: <strong><a href="{% url 'warcross' %}"><p>show more</p></a></strong><p>

				<p>Genre: <strong>Contemporary</strong><p>

				<p>Category: <strong>Young Adult</strong><p>

				<a href="{% url 'warcross' %}"><p>show more</p></a>
			</div>
		</div>
		<div class="row">
		  <div class="column_img1">
		    <img src="{% static 'img/warcross.jpg'%}" alt="Warcross" width="200" height="330" align="middle"/>
		  </div>
		  <div class="column_text1">
			<p>Title: <strong>Warcross</strong><p>
			
			<p>Author: <strong><a href="{% url 'warcross' %}"><p>show more</p></a></strong><p>

			<p>Genre: <strong>Contemporary</strong><p>

			<p>Category: <strong>Young Adult</strong><p>

			<a href="{% url 'warcross' %}"><p>show more</p></a>
		  </div>
		</div>
	</div>
</body>

</html>